-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: localhost    Database: student_management_system
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `student_management_system`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `student_management_system` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `student_management_system`;

--
-- Table structure for table `announcement_reads`
--

DROP TABLE IF EXISTS `announcement_reads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcement_reads` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `read_at` datetime(6) DEFAULT NULL,
  `announcement_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKm9uira2k0p8uatoycftmtnliw` (`announcement_id`),
  KEY `FKsmxul3dlfdychrth1lh8qyy3i` (`user_id`),
  CONSTRAINT `FKm9uira2k0p8uatoycftmtnliw` FOREIGN KEY (`announcement_id`) REFERENCES `announcements` (`id`),
  CONSTRAINT `FKsmxul3dlfdychrth1lh8qyy3i` FOREIGN KEY (`user_id`) REFERENCES `app_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement_reads`
--

LOCK TABLES `announcement_reads` WRITE;
/*!40000 ALTER TABLE `announcement_reads` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcement_reads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcements`
--

DROP TABLE IF EXISTS `announcements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcements` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pinned` bit(1) DEFAULT NULL,
  `published_at` datetime(6) DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `publisher_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKb1qea97jlts9qlicx9kvqot13` (`publisher_id`),
  CONSTRAINT `FKb1qea97jlts9qlicx9kvqot13` FOREIGN KEY (`publisher_id`) REFERENCES `app_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcements`
--

LOCK TABLES `announcements` WRITE;
/*!40000 ALTER TABLE `announcements` DISABLE KEYS */;
INSERT INTO `announcements` VALUES (1,'请各位同学于下周二上午八点前到指定教室参加期中考试。',_binary '','2026-04-05 20:27:55.700165','期中考试安排通知',1),(2,'请各班同学于放假前完成宿舍安全检查，并按时返校。',_binary '','2026-04-01 09:00:00.000000','五一放假安排',1),(3,'答辩时间暂定于6月上旬，请同学们提前准备论文与演示材料。',_binary '\0','2026-04-03 14:30:00.000000','2026届毕业设计答辩通知',1),(4,'本周数据库系统实验课调整至周五下午第5-6节，地点不变。',_binary '\0','2026-04-04 10:20:00.000000','数据库系统实验课调课通知',2);
/*!40000 ALTER TABLE `announcements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `app_users`
--

DROP TABLE IF EXISTS `app_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `avatar_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enabled` bit(1) DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` enum('ADMIN','STUDENT','TEACHER') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKspsnwr241e9k9c8p5xl4k45ih` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `app_users`
--

LOCK TABLES `app_users` WRITE;
/*!40000 ALTER TABLE `app_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `app_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `capacity` int DEFAULT NULL,
  `class_hours` int DEFAULT NULL,
  `classroom` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_code` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `credit` int DEFAULT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `end_section` int DEFAULT NULL,
  `nature` enum('ELECTIVE','REQUIRED') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `start_section` int DEFAULT NULL,
  `week_day` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `teacher_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKa837t6hcl5fu15ykhynhu4a5p` (`teacher_id`),
  CONSTRAINT `FKa837t6hcl5fu15ykhynhu4a5p` FOREIGN KEY (`teacher_id`) REFERENCES `app_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
INSERT INTO `courses` VALUES (1,60,48,'A301','CS301','Java Web 开发',3,'面向企业级开发的 Java Web 核心课程',2,'REQUIRED',1,'周一',2),(2,50,64,'B203','CS302','数据库系统',4,'覆盖 SQL、事务、索引与数据库设计',4,'REQUIRED',3,'周三',2),(3,60,64,'C201','CS303','操作系统',4,'操作系统原理与实验课程',2,'REQUIRED',1,'周二',4),(4,60,48,'C302','CS304','计算机网络',3,'网络体系结构、协议与实践',4,'REQUIRED',3,'周四',4),(5,55,64,'A205','CS305','数据结构',4,'线性结构、树、图与算法分析',2,'REQUIRED',1,'周五',5),(6,45,32,'B105','CS306','Python程序设计',2,'适合跨学科学生选修的编程入门课',6,'ELECTIVE',5,'周三',5);
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enrollments`
--

DROP TABLE IF EXISTS `enrollments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `enrollments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `selected_at` datetime(6) DEFAULT NULL,
  `course_id` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKho8mcicp4196ebpltdn9wl6co` (`course_id`),
  KEY `FK8kf1u1857xgo56xbfmnif2c51` (`student_id`),
  CONSTRAINT `FK8kf1u1857xgo56xbfmnif2c51` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`),
  CONSTRAINT `FKho8mcicp4196ebpltdn9wl6co` FOREIGN KEY (`course_id`) REFERENCES `courses` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enrollments`
--

LOCK TABLES `enrollments` WRITE;
/*!40000 ALTER TABLE `enrollments` DISABLE KEYS */;
/*!40000 ALTER TABLE `enrollments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grade_records`
--

DROP TABLE IF EXISTS `grade_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grade_records` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `daily_score` double DEFAULT NULL,
  `final_score` double DEFAULT NULL,
  `gpa` double DEFAULT NULL,
  `midterm_score` double DEFAULT NULL,
  `total_score` double DEFAULT NULL,
  `enrollment_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK2bahm68ombffjibnkaqlcu24p` (`enrollment_id`),
  CONSTRAINT `FK2bahm68ombffjibnkaqlcu24p` FOREIGN KEY (`enrollment_id`) REFERENCES `enrollments` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grade_records`
--

LOCK TABLES `grade_records` WRITE;
/*!40000 ALTER TABLE `grade_records` DISABLE KEYS */;
INSERT INTO `grade_records` VALUES (1,30,60,0,55,49.5,1),(2,79,85,3,82,82.3,2),(3,91,93,4,89,91.1,3),(4,87,78,3,80,81.1,4),(5,92,94,4,88,91.6,5),(6,76,81,2,73,77.3,6),(7,65,72,1,68,68.9,7),(8,58,55,0,60,57.4,8),(9,82,80,3,78,80,9),(10,95,92,4,90,92.3,10),(11,89,86,3,87,87.2,11),(12,78,79,2,75,77.5,12),(13,84,85,3,82,83.8,13),(14,88,87,3,90,88.3,14),(15,93,94,4,91,92.8,15),(16,90,88,3,86,88,16),(17,72,74,2,69,71.8,17),(18,85,90,3,88,87.9,18);
/*!40000 ALTER TABLE `grade_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_requests`
--

DROP TABLE IF EXISTS `leave_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leave_requests` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `approval_comment` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `attendance_linked` bit(1) DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `status` enum('APPROVED','PENDING','REJECTED') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `submitted_at` datetime(6) DEFAULT NULL,
  `approver_id` bigint DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  `reviewed_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKkvvtwi17crjt6u5hyu7ujh8xq` (`approver_id`),
  KEY `FK5m8d2wwxbf245dqhbntl7hnn1` (`student_id`),
  CONSTRAINT `FK5m8d2wwxbf245dqhbntl7hnn1` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`),
  CONSTRAINT `FKkvvtwi17crjt6u5hyu7ujh8xq` FOREIGN KEY (`approver_id`) REFERENCES `app_users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_requests`
--

LOCK TABLES `leave_requests` WRITE;
/*!40000 ALTER TABLE `leave_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_status_changes`
--

DROP TABLE IF EXISTS `student_status_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_status_changes` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `after_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `before_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `change_date` date DEFAULT NULL,
  `change_type` enum('CHANGE_MAJOR','ENROLL','REPEAT','RESUME','SUSPEND') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `student_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKln6imfabksqcik20cy0eeq597` (`student_id`),
  CONSTRAINT `FKln6imfabksqcik20cy0eeq597` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_status_changes`
--

LOCK TABLES `student_status_changes` WRITE;
/*!40000 ALTER TABLE `student_status_changes` DISABLE KEYS */;
INSERT INTO `student_status_changes` VALUES (1,'在读','新生','2026-09-01','ENROLL','完成报到注册',5),(2,'计算机科学与技术','网络工程','2026-03-15','CHANGE_MAJOR','根据个人发展方向申请转专业',3),(3,'休学','在读','2025-12-20','SUSPEND','因身体原因申请休学一学期',6),(4,'在读','休学','2026-03-01','RESUME','审核通过后恢复学籍',6);
/*!40000 ALTER TABLE `student_status_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `age` int NOT NULL,
  `classroom` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `gender` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `current_status` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enrollment_date` date DEFAULT NULL,
  `major` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `photo_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `student_no` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKg4fwvutq09fjdlb4bb0byp7t` (`user_id`),
  CONSTRAINT `FKaxlph8dqkilnnhhxdvqthd18b` FOREIGN KEY (`user_id`) REFERENCES `app_users` (`id`),
  CONSTRAINT `students_chk_1` CHECK (((`age` <= 100) and (`age` >= 10)))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'student_management_system'
--

--
-- Dumping routines for database 'student_management_system'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-08 17:30:43
